@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.slick-prev:before,
.slick-next:before,
.slick-prev,
.slick-next{
  color: lightgray !important;
  scale: 2;
}
.slick-prev {
  left: -50px !important;
}

.slick-next {
  right: -50px !important;
}
/* Dot mặc định */
.slick-dots li button:before {
  color: gray !important; /* Màu xám */
  opacity: 0.5;
  font-size: 12px,
}

/* Dot đang active */
.slick-dots li.slick-active button:before {
  color: gray !important; /* Vẫn là màu xám nhưng đậm hơn */
  opacity: 1;
}
